matplotlib==3.6
numpy==1.23.3
pandas==1.4.4
plotly==5.10.0
python-docx==0.8.11
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.12.0
spacy==3.4.1
openpyxl==3.0.10
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.0/en_core_web_lg-3.4.0.tar.gz
streamlit==1.12.2
tqdm==4.64.1
wasabi==0.9.1