matplotlib
numpy
pandas
plotly
python-docx
scikit-learn
scipy
seaborn
spacy
openpyxl
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.0/en_core_web_lg-3.4.0.tar.gz
tqdm
wasabi==0.9.1